<header class="header">
    <div class="header-container">
        <div class="logo">
            <a href="index.html">
                <img src="assets/logo.png" alt="Madeira Tours" width="120" height="40">
            </a>
        </div>
        <button class="menu-toggle" aria-label="Menu" aria-expanded="false">☰</button>
        <nav class="nav" role="navigation" aria-label="Menu principal">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="index.html" class="nav-link">Início</a>
                </li>
                <li class="nav-item has-submenu">
                    <a href="#" class="nav-link">Geral</a>
                    <ul class="submenu">
                        <li class="submenu-item"><a href="preferencias.html" class="submenu-link">Preferências</a></li>
                        <li class="submenu-item"><a href="dados-pessoais-login.html" class="submenu-link">Dados Pessoais</a></li>
                    </ul>
                </li>
                <li class="nav-item has-submenu">
                    <a href="lugares.html" class="nav-link">Lugares para Ver</a>
                    <ul class="submenu">
                        <li class="submenu-item"><a href="lugares.html#atracoes" class="submenu-link">Principais Atrações</a></li>
                        <li class="submenu-item"><a href="costa-norte.html" class="submenu-link">Costa Norte</a></li>
                        <li class="submenu-item"><a href="costa-sul.html" class="submenu-link">Costa Sul</a></li>
                        <li class="submenu-item"><a href="porto-santo.html" class="submenu-link">Porto Santo</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="login.html" class="nav-link">Login</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

